/******************
* general 
******************/

*{
    box-sizing: border-box;
    margin: 0%;
}

body{
 background: rgb(255, 255, 255);
}

/********************
* canves style
*********************/

.pixelCanves{
    text-align: center;
    width: 95%;
    float: right;
    background: rgba(241, 241, 241, 0.7);
    padding: 24px;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
    margin: 10px 0;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

/******************
* left properties
*******************/

.leftSide{
  width: 5%;
  float: left;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

form input{
    margin: 5px auto;
    width: 100%;
}
 
 form input[type='submit'] {
    overflow: hidden;
    height: 30px;
    display: block;
    background: linear-gradient(#220000 ,#db3d3d);
    color: aliceblue;
    border: 0;
    border-radius: 10px; 
    margin-bottom: 10px;
    cursor: pointer;
}

.leftSide button{
 margin: 10px auto;
 width: 100%;
 cursor: pointer;
}

.leftSide .active{
 border: 0;
 background: #db3d3d;
}

.leftSide input[type="color"]{
    margin: 10px 0;
    width: 100%;
    padding: 0;
    background: 0;
    border: 0;
    cursor: pointer;
}
 